.popup__close {
  position: absolute;
  top: calc((100vh - 330px)/2 - 40px);
  right: calc((100vw - 430px)/2 - 40px);
  cursor: pointer;
  border: none;
  background: none;
  background-image: url(../../../images/CloseIcon.svg);
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.popup__close:hover {
  background-image: url(../../../images/CloseIconHover.svg);
}

@media screen and (max-width: 740px) {
  .popup__close {
    right: calc((100vw - 282px)/2 - 0px);
    top: calc((100vh - 322px)/2 - 36px);
    width: 20px;
    height: 20px;
    background-image: url(../../../images/CloseIconSmall.svg);
  }

  .popup__close:hover {
    background-image: url(../../../images/CloseIconHoverSmall.svg);
  }
}